<style>
    .topBar {
        display: flex;
        width: 100%;
        align-items: center;
        gap: 1.5vw;
    }
    .inputContainer {
        flex: 1;
        padding: 3vw;
        display: flex;
        background-color: #191919;
        border-radius: 100vw;
        align-items: center;
    }
    .inputContainer svg {
        margin-left: 1vw;
        margin-right: 1vw;
        width: 5vw;
    }
    .inputContainer input {
        background-color: transparent;
        outline: none;
        border: none;
        flex: 1;
        font-family: Outfit;
        color: white;
        font-size: 0.7em;
    }
    .notificationContainer {
        background-color: #191919;
        border-radius: 100vw;
        width: 11.5vw;
        height: 11.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .notificationContainer svg {
        width: 5vw;
        height: 5vw;
    }
</style>
<div class="topBar">
    <div class="inputContainer">
        <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g opacity="0.7">
            <path d="M7.05815 11.255C7.5699 11.255 8.07664 11.1542 8.54944 10.9583C9.02223 10.7625 9.45182 10.4754 9.81369 10.1136C10.1755 9.75172 10.4626 9.32213 10.6584 8.84934C10.8543 8.37654 10.9551 7.8698 10.9551 7.35805C10.9551 6.8463 10.8543 6.33956 10.6584 5.86677C10.4626 5.39397 10.1755 4.96438 9.81369 4.60251C9.45182 4.24065 9.02223 3.95361 8.54944 3.75777C8.07664 3.56193 7.5699 3.46113 7.05815 3.46113C6.02462 3.46113 5.03343 3.8717 4.30261 4.60251C3.5718 5.33333 3.16123 6.32452 3.16123 7.35805C3.16123 8.39158 3.5718 9.38277 4.30261 10.1136C5.03343 10.8444 6.02462 11.255 7.05815 11.255ZM11.1629 10.5444L13.4881 12.8696C13.5501 12.9295 13.5995 13.0013 13.6335 13.0805C13.6674 13.1598 13.6853 13.245 13.686 13.3313C13.6867 13.4175 13.6702 13.503 13.6375 13.5828C13.6048 13.6626 13.5565 13.7351 13.4955 13.796C13.4344 13.857 13.3619 13.9051 13.282 13.9377C13.2022 13.9703 13.1167 13.9867 13.0304 13.9859C12.9442 13.9851 12.859 13.9671 12.7798 13.933C12.7005 13.8989 12.6289 13.8494 12.569 13.7873L10.2439 11.4622C9.19981 12.2726 7.88611 12.6547 6.57023 12.5307C5.25434 12.4067 4.03519 11.7858 3.16094 10.7945C2.2867 9.80324 1.82309 8.51605 1.86449 7.19498C1.90589 5.87391 2.44918 4.61827 3.38378 3.68368C4.31837 2.74908 5.57401 2.20579 6.89508 2.16439C8.21615 2.12299 9.50334 2.5866 10.4946 3.46084C11.4859 4.33509 12.1068 5.55424 12.2308 6.87013C12.3548 8.18601 11.9727 9.49971 11.1623 10.5438L11.1629 10.5444Z" fill="white"/>
            </g>
            </svg>
        <input type="text" placeholder="Search">                    
    </div>
    <div class="notificationContainer">
        <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g opacity="0.7">
            <path d="M12.8284 10.9121L12.3325 10.4683V6.60701C12.3325 5.81712 12.0187 5.05958 11.4602 4.50104C10.9016 3.94251 10.1441 3.62873 9.35422 3.62873C8.56433 3.62873 7.8068 3.94251 7.24826 4.50104C6.68973 5.05958 6.37594 5.81712 6.37594 6.60701V10.4683L5.88006 10.9121C5.16047 11.5543 4.63355 12.3838 4.35816 13.3081H14.3503C14.0749 12.3838 13.548 11.5543 12.8284 10.9121ZM11.5879 14.7973C11.5879 15.3897 11.3526 15.9578 10.9337 16.3767C10.5148 16.7956 9.94664 17.031 9.35422 17.031C8.76181 17.031 8.19365 16.7956 7.77475 16.3767C7.35585 15.9578 7.12051 15.3897 7.12051 14.7973H2.6531C2.65208 13.8543 2.85058 12.9218 3.23556 12.061C3.62053 11.2002 4.18327 10.4306 4.8868 9.8027V6.60701C4.8868 5.42217 5.35748 4.28587 6.19528 3.44806C7.03308 2.61026 8.16939 2.13959 9.35422 2.13959C10.5391 2.13959 11.6754 2.61026 12.5132 3.44806C13.351 4.28587 13.8216 5.42217 13.8216 6.60701V9.8027C14.5252 10.4306 15.0879 11.2002 15.4729 12.061C15.8579 12.9218 16.0564 13.8543 16.0554 14.7973H11.5879ZM9.35422 15.5418C9.55169 15.5418 9.74108 15.4634 9.88071 15.3238C10.0203 15.1841 10.0988 14.9947 10.0988 14.7973H8.60965C8.60965 14.9947 8.6881 15.1841 8.82773 15.3238C8.96737 15.4634 9.15675 15.5418 9.35422 15.5418Z" fill="white"/>
            </g>
            </svg>                    
    </div>
</div>