<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <style>
        .creds {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-family: Outfit;
            gap: 2vw;
        }
        .creds > h1 {
            color: #FFF;
            text-align: center;
            font-family: Outfit;
            font-size: 7.5vw;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.98px;
            margin: 0;
        }
        .creds > p {
            color: rgba(255, 255, 255, 0.50);
            font-family: Outfit;
            font-size: 3.75vw;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.555px;
            margin: 0;
        }
        img {
            width: 50vw;
            height: 50vw;
            flex-shrink: 0;
            margin: auto;
        }
        .neeche-oopar {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 10vw;
            gap: 1vw;
        }
        .button {
            background: rgba(113, 113, 113, 0.08);
            backdrop-filter: blur(17.5px);
            width: 80vw;
            height: 20vw;
            flex-shrink: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 5vw;
        }
        .andar {
            color: #FFF;
            font-family: Outfit;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 4vw;
        }
        .button > svg {
            fill: #fff;
        }
    </style>
</head>
<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="creds">
        <img src="https://hc-cdn.hel1.your-objectstorage.com/s/v3/5109c6385f266f8e79512d262fbc553d456df897_image.png" alt="">
    
        <h1><%= user.fname + ' ' + user.lname %></h1>
        <p><%= user.email %></p>
    </div>

    <div class="neeche-oopar">
        <div style="border-radius: 10px 10px 0px 0px; background: #F9D44D;" class="button"  onclick="window.location.href = '/scan'">
            <div class="andar">
                <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="20.614" y="0.0137939" width="2.18262" height="6.06034" rx="1.09131" fill="black"/>
                    <rect x="16.7363" y="2.19641" width="2.18262" height="6.06034" rx="1.09131" transform="rotate(-90 16.7363 2.19641)" fill="black"/>
                    <rect width="2.18262" height="6.06034" rx="1.09131" transform="matrix(1 0 0 -1 20.614 22.3809)" fill="black"/>
                    <rect width="2.18262" height="6.06034" rx="1.09131" transform="matrix(0 1 1 0 16.7363 20.1982)" fill="black"/>
                    <rect width="2.18262" height="6.06034" rx="1.09131" transform="matrix(-1 0 0 1 2.6123 0.0137939)" fill="black"/>
                    <rect width="2.18262" height="6.06034" rx="1.09131" transform="matrix(0 -1 -1 0 6.48999 2.19641)" fill="black"/>
                    <rect x="2.6123" y="22.3809" width="2.18262" height="6.06034" rx="1.09131" transform="rotate(-180 2.6123 22.3809)" fill="black"/>
                    <rect x="6.48999" y="20.1982" width="2.18262" height="6.06034" rx="1.09131" transform="rotate(90 6.48999 20.1982)" fill="black"/>
                    <rect x="5.54198" y="5.12834" width="4.02023" height="4.02023" rx="2.01011" stroke="black" stroke-width="1.8718"/>
                    <rect x="5.54198" y="13.2828" width="4.02023" height="4.02023" rx="2.01011" stroke="black" stroke-width="1.8718"/>
                    <rect x="12.6376" y="12.2491" width="1.99425" height="1.99425" rx="0.997123" fill="black"/>
                    <rect x="12.6376" y="16.2447" width="1.99425" height="1.99425" rx="0.997123" fill="black"/>
                    <rect x="14.6317" y="14.2505" width="1.99425" height="1.99425" rx="0.997123" fill="black"/>
                    <rect x="16.626" y="14.2433" width="1.99425" height="1.99425" rx="0.997123" fill="black"/>
                    <rect x="16.626" y="16.2375" width="1.99425" height="1.99425" rx="0.997123" fill="black"/>
                    <rect x="13.5735" y="5.12834" width="4.02023" height="4.02023" rx="2.01011" stroke="black" stroke-width="1.8718"/>
                    </svg>
                <p style="color: #000;">My QR</p>
            </div>
            <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.48047 7.17468C0.928184 7.17468 0.480469 7.6224 0.480469 8.17468C0.480469 8.72697 0.928184 9.17468 1.48047 9.17468L1.48047 7.17468ZM17.4277 8.88179C17.8182 8.49127 17.8182 7.8581 17.4277 7.46758L11.0637 1.10362C10.6732 0.713091 10.04 0.713091 9.64951 1.10362C9.25899 1.49414 9.25899 2.1273 9.64951 2.51783L15.3064 8.17468L9.64951 13.8315C9.25899 14.2221 9.25899 14.8552 9.64951 15.2458C10.04 15.6363 10.6732 15.6363 11.0637 15.2458L17.4277 8.88179ZM1.48047 9.17468L16.7206 9.17468L16.7206 7.17468L1.48047 7.17468L1.48047 9.17468Z" fill="black"/>
                </svg>
                
        </div>
        <div class="button">
            <div class="andar">
                <svg width="18" height="26" viewBox="0 0 18 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.24962 1.15631H1.22217V22.0675H14.3845C15.7063 22.0675 16.7778 20.9959 16.7778 19.6741V3.54962C16.7778 2.22783 15.7063 1.15631 14.3845 1.15631H5.24962ZM5.24962 1.15631V25.766" stroke="white" stroke-width="2"/>
                    <path d="M10.399 14.8423L8.5735 11.6579V10.9075H9.18199C9.42538 10.9075 9.63835 10.8737 9.8209 10.8061C10.0102 10.7317 10.1657 10.6269 10.2874 10.4917C10.4159 10.3565 10.5038 10.1942 10.5511 10.0049H8.5735V9.25442H10.5409C10.5004 9.07863 10.4294 8.92313 10.328 8.78791C10.2333 8.65269 10.1049 8.5479 9.94259 8.47353C9.78709 8.3924 9.59778 8.35183 9.37467 8.35183H8.5735V7.60136H13.1473V8.35183H11.5551C11.67 8.48029 11.7647 8.61889 11.839 8.76763C11.9202 8.91637 11.9743 9.07863 12.0013 9.25442H13.1473V10.0049H12.0216C11.954 10.5052 11.7613 10.8973 11.4435 11.1813C11.1258 11.4585 10.7167 11.6478 10.2164 11.7492L12.2041 14.8423H10.399Z" fill="white"/>
                    </svg>
                <p>Balance and History</p>
            </div>
            <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.48047 7.28601C0.928184 7.28601 0.480469 7.73373 0.480469 8.28601C0.480469 8.8383 0.928184 9.28601 1.48047 9.28601L1.48047 7.28601ZM17.4277 8.99312C17.8182 8.60259 17.8182 7.96943 17.4277 7.57891L11.0637 1.21494C10.6732 0.824419 10.04 0.824419 9.64951 1.21494C9.25899 1.60547 9.25899 2.23863 9.64951 2.62916L15.3064 8.28601L9.64951 13.9429C9.25899 14.3334 9.25899 14.9666 9.64951 15.3571C10.04 15.7476 10.6732 15.7476 11.0637 15.3571L17.4277 8.99312ZM1.48047 9.28601L16.7206 9.28601L16.7206 7.28601L1.48047 7.28601L1.48047 9.28601Z" fill="white"/>
                </svg>
        </div>
        <div class="button">
            <div class="andar">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.5 1.84932V5.01599C19.5 5.89044 18.7911 6.59932 17.9167 6.59932C17.0422 6.59932 16.3333 5.89044 16.3333 5.01599V3.43266H11.5833V16.0993H13.1667C14.0411 16.0993 14.75 16.8082 14.75 17.6827C14.75 18.5571 14.0411 19.266 13.1667 19.266H6.83333C5.95888 19.266 5.25 18.5571 5.25 17.6827C5.25 16.8082 5.95888 16.0993 6.83333 16.0993H8.41667V3.43266H3.66667V5.01599C3.66667 5.89044 2.95778 6.59932 2.08333 6.59932C1.20888 6.59932 0.5 5.89044 0.5 5.01599V1.84932C0.5 0.974874 1.20888 0.265991 2.08333 0.265991H17.9167C18.7911 0.265991 19.5 0.974874 19.5 1.84932Z" fill="white"/>
                    </svg>
                <p>Edit Profile</p>
            </div>
            <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.48047 7.28601C0.928184 7.28601 0.480469 7.73373 0.480469 8.28601C0.480469 8.8383 0.928184 9.28601 1.48047 9.28601L1.48047 7.28601ZM17.4277 8.99312C17.8182 8.60259 17.8182 7.96943 17.4277 7.57891L11.0637 1.21494C10.6732 0.824419 10.04 0.824419 9.64951 1.21494C9.25899 1.60547 9.25899 2.23863 9.64951 2.62916L15.3064 8.28601L9.64951 13.9429C9.25899 14.3334 9.25899 14.9666 9.64951 15.3571C10.04 15.7476 10.6732 15.7476 11.0637 15.3571L17.4277 8.99312ZM1.48047 9.28601L16.7206 9.28601L16.7206 7.28601L1.48047 7.28601L1.48047 9.28601Z" fill="white"/>
                </svg>
        </div>
        <div class="button">
            <div class="andar">
                <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.9218 16.4976L14.1958 17.7716C14.3931 17.9759 14.5023 18.2495 14.4999 18.5336C14.4974 18.8176 14.3835 19.0893 14.1826 19.2902C13.9817 19.4911 13.71 19.605 13.426 19.6075C13.1419 19.6099 12.8683 19.5007 12.664 19.3034L9.59921 16.2397C9.39611 16.0366 9.28202 15.7611 9.28202 15.4738C9.28202 15.1866 9.39611 14.9111 9.59921 14.7079L12.664 11.6431C12.8672 11.44 13.1429 11.326 13.4303 11.3261C13.7176 11.3262 13.9932 11.4404 14.1963 11.6437C14.3995 11.847 14.5135 12.1226 14.5134 12.41C14.5133 12.6974 14.3991 12.9729 14.1958 13.1761L13.0399 14.3309H15.3333C16.4826 14.3309 17.5848 13.8744 18.3974 13.0617C19.2101 12.249 19.6666 11.1468 19.6666 9.99757C19.6666 8.84829 19.2101 7.74609 18.3974 6.93344C17.5848 6.12078 16.4826 5.66423 15.3333 5.66423C15.046 5.66423 14.7704 5.5501 14.5673 5.34693C14.3641 5.14377 14.25 4.86822 14.25 4.5809C14.25 4.29358 14.3641 4.01803 14.5673 3.81487C14.7704 3.6117 15.046 3.49757 15.3333 3.49757C17.0572 3.49757 18.7105 4.18239 19.9295 5.40137C21.1485 6.62036 21.8333 8.27366 21.8333 9.99757C21.8333 11.7215 21.1485 13.3748 19.9295 14.5938C18.7105 15.8127 17.0572 16.4976 15.3333 16.4976H12.9218ZM9.12904 3.49757L7.94063 2.31023C7.83997 2.20958 7.76013 2.09009 7.70566 1.95858C7.65119 1.82707 7.62315 1.68612 7.62315 1.54377C7.62315 1.2563 7.73735 0.980594 7.94063 0.777316C8.1439 0.574039 8.41961 0.459839 8.70708 0.459839C8.99456 0.459839 9.27026 0.574039 9.47354 0.777316L12.5372 3.84207C12.7403 4.04522 12.8544 4.32072 12.8544 4.60798C12.8544 4.89524 12.7403 5.17074 12.5372 5.3739L9.47354 8.43757C9.27041 8.64084 8.99484 8.7551 8.70747 8.7552C8.42009 8.7553 8.14444 8.64124 7.94117 8.43811C7.73789 8.23497 7.62363 7.95941 7.62353 7.67203C7.62343 7.38466 7.73749 7.10901 7.94063 6.90573L9.18321 5.66423H6.66663C5.51735 5.66423 4.41515 6.12078 3.6025 6.93344C2.78984 7.74609 2.33329 8.84829 2.33329 9.99757C2.33329 11.1468 2.78984 12.249 3.6025 13.0617C4.41515 13.8744 5.51735 14.3309 6.66663 14.3309C6.95394 14.3309 7.22949 14.445 7.43266 14.6482C7.63582 14.8514 7.74996 15.1269 7.74996 15.4142C7.74996 15.7015 7.63582 15.9771 7.43266 16.1803C7.22949 16.3834 6.95394 16.4976 6.66663 16.4976C4.94272 16.4976 3.28942 15.8127 2.07043 14.5938C0.851445 13.3748 0.166626 11.7215 0.166626 9.99757C0.166626 8.27366 0.851445 6.62036 2.07043 5.40137C3.28942 4.18239 4.94272 3.49757 6.66663 3.49757H9.12904Z" fill="white"/>
                    </svg>                    
                <p>Recurring Payments</p>
            </div>
            <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.48047 7.28601C0.928184 7.28601 0.480469 7.73373 0.480469 8.28601C0.480469 8.8383 0.928184 9.28601 1.48047 9.28601L1.48047 7.28601ZM17.4277 8.99312C17.8182 8.60259 17.8182 7.96943 17.4277 7.57891L11.0637 1.21494C10.6732 0.824419 10.04 0.824419 9.64951 1.21494C9.25899 1.60547 9.25899 2.23863 9.64951 2.62916L15.3064 8.28601L9.64951 13.9429C9.25899 14.3334 9.25899 14.9666 9.64951 15.3571C10.04 15.7476 10.6732 15.7476 11.0637 15.3571L17.4277 8.99312ZM1.48047 9.28601L16.7206 9.28601L16.7206 7.28601L1.48047 7.28601L1.48047 9.28601Z" fill="white"/>
                </svg>
        </div>
        <div class="button" onclick="window.location.href = '/emergency'">
            <div class="andar">
                <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 18.9767C12.1217 18.9767 14.1566 18.1338 15.6569 16.6335C17.1571 15.1332 18 13.0984 18 10.9767C18 8.85495 17.1571 6.82012 15.6569 5.31983C14.1566 3.81954 12.1217 2.97668 10 2.97668C7.87827 2.97668 5.84344 3.81954 4.34315 5.31983C2.84285 6.82012 2 8.85495 2 10.9767C2 13.0984 2.84285 15.1332 4.34315 16.6335C5.84344 18.1338 7.87827 18.9767 10 18.9767ZM10 20.9767C4.477 20.9767 0 16.4997 0 10.9767C0 5.45368 4.477 0.976685 10 0.976685C15.523 0.976685 20 5.45368 20 10.9767C20 16.4997 15.523 20.9767 10 20.9767ZM13.446 8.94468C13.1017 8.36143 12.6153 7.87494 12.032 7.53068L15.657 3.90568L17.071 5.31968L13.446 8.94468ZM7.968 14.4227L4.343 18.0477L2.929 16.6337L6.554 13.0087C6.89826 13.5919 7.38474 14.0784 7.968 14.4227ZM7.968 7.53068C7.38474 7.87494 6.89826 8.36143 6.554 8.94468L2.929 5.31968L4.343 3.90668L7.968 7.53068ZM12.704 13.9247C11.9332 14.6317 10.9162 15.0086 9.87079 14.9748C8.82541 14.941 7.83488 14.499 7.11142 13.7436C6.38797 12.9883 5.98916 11.9796 6.00044 10.9337C6.01172 9.88788 6.4322 8.88804 7.17178 8.14846C7.91136 7.40888 8.9112 6.9884 9.95706 6.97712C11.0029 6.96584 12.0116 7.36465 12.767 8.08811C13.5223 8.81156 13.9643 9.8021 13.9981 10.8475C14.032 11.8928 13.655 12.9099 12.948 13.6807C13.141 13.4707 13.307 13.2457 13.446 13.0087L16.32 15.8827C15.9093 16.411 15.4343 16.886 14.906 17.2967L12.032 14.4227C12.269 14.2827 12.494 14.1177 12.704 13.9247ZM10 12.9767C10.5304 12.9767 11.0391 12.766 11.4142 12.3909C11.7893 12.0158 12 11.5071 12 10.9767C12 10.4463 11.7893 9.93754 11.4142 9.56247C11.0391 9.1874 10.5304 8.97668 10 8.97668C9.46957 8.97668 8.96086 9.1874 8.58579 9.56247C8.21071 9.93754 8 10.4463 8 10.9767C8 11.5071 8.21071 12.0158 8.58579 12.3909C8.96086 12.766 9.46957 12.9767 10 12.9767Z" fill="white"/>
                    </svg>                                       
                <p>Emergency Funds</p>
            </div>
            <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.48047 7.28601C0.928184 7.28601 0.480469 7.73373 0.480469 8.28601C0.480469 8.8383 0.928184 9.28601 1.48047 9.28601L1.48047 7.28601ZM17.4277 8.99312C17.8182 8.60259 17.8182 7.96943 17.4277 7.57891L11.0637 1.21494C10.6732 0.824419 10.04 0.824419 9.64951 1.21494C9.25899 1.60547 9.25899 2.23863 9.64951 2.62916L15.3064 8.28601L9.64951 13.9429C9.25899 14.3334 9.25899 14.9666 9.64951 15.3571C10.04 15.7476 10.6732 15.7476 11.0637 15.3571L17.4277 8.99312ZM1.48047 9.28601L16.7206 9.28601L16.7206 7.28601L1.48047 7.28601L1.48047 9.28601Z" fill="white"/>
                </svg>
        </div>
        <div style="border-radius: 0px 0px 10px 10px; margin-bottom: 35vw;" class="button">
            <div class="andar">
                <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 4.30911C11.8193 4.23807 11.664 4.1146 11.554 3.95457C11.4441 3.79453 11.3845 3.60527 11.383 3.41111C11.383 2.87511 11.831 2.43911 12.383 2.43911C12.499 2.43911 12.611 2.45911 12.715 2.49411C12.716 2.49111 12.717 2.49011 12.719 2.49111C15.834 3.86711 18 6.91711 18 10.4611C18 15.2911 13.97 19.2091 9 19.2091C4.03 19.2091 0 15.2921 0 10.4601C0 6.94111 2.137 3.90911 5.218 2.51911C5.3424 2.46825 5.47561 2.44242 5.61 2.44311C6.162 2.44311 6.61 2.87811 6.61 3.41411C6.60879 3.60715 6.55013 3.79546 6.44149 3.95503C6.33285 4.1146 6.17916 4.23821 6 4.31011C3.635 5.40211 2 7.74611 2 10.4601C2 14.2181 5.134 17.2651 9 17.2651C12.866 17.2651 16 14.2181 16 10.4601C16 7.74611 14.365 5.40111 12 4.30911ZM9 0.209106C9.26522 0.209106 9.51957 0.314463 9.70711 0.502C9.89464 0.689536 10 0.94389 10 1.20911V7.20911C10 7.47432 9.89464 7.72868 9.70711 7.91621C9.51957 8.10375 9.26522 8.20911 9 8.20911C8.73478 8.20911 8.48043 8.10375 8.29289 7.91621C8.10536 7.72868 8 7.47432 8 7.20911V1.20911C8 0.94389 8.10536 0.689536 8.29289 0.502C8.48043 0.314463 8.73478 0.209106 9 0.209106Z" fill="#F9D44D"/>
                    </svg>                                                         
                <p style="color: #F9D44D;">Sign Out</p>
            </div>
            <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.48047 6.90881C0.928184 6.90881 0.480469 7.35653 0.480469 7.90881C0.480469 8.4611 0.928184 8.90881 1.48047 8.90881L1.48047 6.90881ZM17.4277 8.61592C17.8182 8.2254 17.8182 7.59223 17.4277 7.20171L11.0637 0.837747C10.6732 0.447222 10.04 0.447222 9.64951 0.837746C9.25899 1.22827 9.25899 1.86144 9.64951 2.25196L15.3064 7.90881L9.64951 13.5657C9.25899 13.9562 9.25899 14.5894 9.64951 14.9799C10.04 15.3704 10.6732 15.3704 11.0637 14.9799L17.4277 8.61592ZM1.48047 8.90881L16.7206 8.90881L16.7206 6.90881L1.48047 6.90881L1.48047 8.90881Z" fill="#F9D44D"/>
                </svg>
        </div>
    </div>
    <script>
        window.onload = () => {
            document.getElementById('1').setAttribute('fill', 'white')
            document.getElementById('1').setAttribute('fill-opacity', '0.4')
            document.getElementById('5').setAttribute('stroke', '#F9D44D')
            document.getElementById('5').setAttribute('stroke-opacity', '1')
            document.getElementById('6').setAttribute('stroke', '#F9D44D')
            document.getElementById('6').setAttribute('stroke-opacity', '1')
        }
    </script>
</body>
</html>